div.header {
  padding: 12px;
  text-align: center;
  background: #1a80bc;
  color: #e6e5e5;
  font-size: 20px;
}

a.header-link {
  color: #e6e5e5;
  text-decoration: none;
}

div.flash-message {
  position: absolute;
  width: 100%;
  text-align: center;
}

div.body {
  padding-top: 6em;
}

/* input#username, input#room {
  display: inline-block;
  width: 69%;
  height: calc(1.5em + 0.81rem + 2px);
} */

li.user {
  list-style: none;
}

span.link {
  color: cornflowerblue;
  font-weight: 600;
  cursor: pointer;
}

span.link:hover {
  text-decoration: underline;
}

.room-container.container {
  max-width: 1050px;
  border-radius: 10px;
}

div.user-img img {
  height: 48px;
  width: 48px;
}

div.input-group {
  width: 103.1%;
  left: -16px;
}

div.user-prof {
  height: 100px;
  text-align: center;
  padding: unset;
  padding-top: 8px;
}

div.prof {
  height: 100px;
  padding: unset;
  padding-top: 8px;
}

span.img {
  padding-right: 10px;
}

span.img img {
  height: 48px;
  width: 48px;
}

div.messages-box.left {
  background: #d4f3ff;
}

div.messages-box.right {
  background: #c3dcf7;
}
